<% provide :title, t("footer.contact") %>
<h1> <%= t "footer.contact" %></h1>
<p>
  <%= t "common.contactline" %>
  <%= link_to t("footer.contact"), Settings.default.railstutorial_contact_url %>.
</p>
