<h1><%= t "password_reset.reset_pw" %></h1>
<p><% t "password_reset.to_reset_your_pw_click_the_link_below_" %></p>

<%= link_to t("password_reset.reset_pw"), edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "password_reset.this_link_will_expire" %></p>

<p>
  <%= t "password_reset.if_you_did_not_"%>
</p>
